{
  "openapi": "3.0.0",
  "info": {
    "title": "Sonny Saggar MD GEO API",
    "version": "1.0.0",
    "description": "API returning structured search references for GROUND and THE ROAD."
  },
  "servers": [
    {
      "url": "https://hub.newphysician.org"
    }
  ],
  "paths": {
    "/api/ai/query": {
      "post": {
        "summary": "Query book dataset summaries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The search keyword or topic to filter by."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of matching book records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
